.App {
  text-align: center;
}
*{
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button{
  padding: 10px 15px;
  background-color: black;
  border: 2px solid blue;
  color: blue;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 20px;
  text-align: center;
  display: block;
  font-weight: 900;
}
input{
  background-color: transparent;
  border: 1px solid red;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  color: red;
  font-size: 25px;
  padding: 10px 15px;
}
h2{
  color: white;
  font-size: 25px;
}